.main {
    overflow: hidden;
}

.mr-8 {
    margin-right: 8px;
}

.hide-on-pc {
    display: none;
}


.header {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    height: var(--header-height);
    background-image: linear-gradient(0, #ff6533, #f53e2d);
}

.header__navbar {
    height: var(--header-navbar-height);
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style-type: none;
    padding-left: 0;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
}

.header__navbar-user {
    position: relative;
}

.header__navbar-user-img {
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.header__navbar-user-name {
    font-weight: 400;
    font-size: 1.5rem;
}   

.header__navbar-user-menu {
    position: absolute;
    right: 0;
    top: calc(100% + 8px);
    list-style: none;
    z-index: 2;
    width: 160px;
    padding: 12px 0 0 0;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    display: none;
}

.header__navbar-item:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-menu::after {
    content: "";
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -30px;
    right: 8px;
}

.header__navbar-user-menu::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -10px;
    width: 60%;
    height: 20px;
}

.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 12px 12px;
    display: block;
    font-weight: 400;
}  

.header__navbar-user-item-separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user-item a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}


.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-media:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer ;
}

.header__navbar--none-hover:hover {
    color: var(--white-color);
    cursor: text;
}

.header__navbar-item--bold {
    font-weight: 400;
}

.header__navbar-item--seperate::after {
    content: "";    
    display: block;
    position: absolute;
    height: 14px;
    border: 1px solid #fa8e82;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-media {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-media:nth-child(2) {
    margin-left: 4px;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-list,
.header__navbar-item,
.header__navbar-item-link {
    display: inline-flex;
    align-items: center;
}

/* Header QR */

.header__qr {
    width: 168px;
    position: absolute;
    left: 0;
    top: 150%;
    display: none;
    animation: fadeIn ease .3s;
    z-index: 1;
    background-color: var(--white-color);
    box-shadow: -1px 1px 6px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.header__qr-img {
    width: 100%;
    border-radius: 5px; 
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-app-link:first-child {
    margin-left: 20px;
}

.header__qr-app-link:last-child {
    margin-right: 20px;
}

.header__qr-app-img {
    height: 14px;
}

.header__navbar-item:hover .header__qr {
    display: block;
}

.header__qr:before {
    position: absolute;
    top: -10%;
    left: 0;
    content: "";
    height: 50px;
    width: 100%;
    display: block;
}

/* End Header QR */


/* Header Notify  */

.header__notify::before {
    content: "";
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -30px;
    right: 8px;
}

.header__notify::after {
    content: "";
    width: 100%;
    height: 20px;
    display: block;
    position: absolute;
    right: 0;
    top: -20px;
}

.header__notify {
    z-index: 2;
    position: absolute;
    top: 150%;
    right: 0;
    width: 400px;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    cursor: default;
    border-radius: 2px;
    transform-origin: calc(100% - 34px) top;
    animation: headerNotifyGrowth ease-in .2s;
    display: none;
}

.header__navbar-item:hover .header__notify {
    display: block;
}

@keyframes headerNotifyGrowth{
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    color: rgba(153, 153, 153, 0.7);
    height: 40px;
    background-color: var(--white-color);
    user-select: none;
}   

.header__notify-header h3 {
    line-height: 40px;
    margin: 0 0 0 8px;
    font-weight: 300;
    font-size: 1.4rem;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    height: 60px;
    background-color: rgba(228, 152, 133, 0.4);
}

.header__notify-item:hover {
    background-color: rgb(218, 212, 212);
}


 /* change the color of viewed notifications */
.header__notify-item--viewed {
    background-color: rgb(243, 237, 237);
}

.header__notify-link {
    display: flex;
    align-items: center;
    padding: 8px;
    text-decoration: none;
}

.header__notify-item-left {

}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-item-info {
    margin-left: 8px;
}

.header__notify-item-name {
    color: #333;
    font-weight: 400;
    font-size: 1.4rem;
    padding-bottom: 4px;
}

.header__notify-item-desc {
    color: #888;
    font-size: 1.2rem;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 32px;
    margin: auto;
    font-weight: 400;
}


/* End header Notify  */


/* Modal authentication form */

.authen-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.authen-form__container {
    padding: 32px 32px 0 32px;
}

.authen-form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 8px;
}

.authen-form__heading {
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-color);
}

.authen-form__switch-btn {
    font-size: 1.8rem;
    color: var(--primary-color);
    cursor: pointer;
}
.authen-form__input {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 0 12px;
    font-size: 1.4rem;
    font-weight: 400;
    border: 1px solid var(--border-color);
    outline: none;
    border-radius: 5px;
}

.authen-form__input:focus {
    border-color: #777;
}

.authen-form__form {
    margin-top: 40px;
}

.authen-form__aside { 
    margin-top: 12px;
    padding: 0 12px;
}

.authen-form__policy-text {
    font-size: 1.2rem;
    text-align: center;
}

.authen-form__link {
    text-decoration: none;
    color: var(--primary-color);
}

.authen-form__control {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
}

.btn {
    min-width: 140px;
    height: 36px;
    border: none;
    text-decoration: none;
    color: var(--text-color);
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

.btn.btn-normal:hover {
    background-color: rgba(128, 126, 126, 0.3);
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.authen-form__socials {
    background-color: #f5f5f5;
    padding: 14px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 1.2rem;
}

.authen-form__social-item {
    height: 30px;
    min-width: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.authen-form__social-icon {
    font-size: 2rem;
    padding-left: 8px;
}

.authen-form__socials--facebook {
    color: var(--white-color);
    background-color: #3A5A98;
    margin-right: 8px;
}

.authen-form__socials--google {
    background-color: var(--white-color);
    color: #666;    
}

.authen-form__socials-name {
    margin: 0 36px;
}

    /* login form */

.authen-form__help {
    display: flex;
    justify-content: flex-end;
    margin-right: -12px;
}

.authen-form__help-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    color: #939393;
}

.authen-form__help-separate {
    display: block;
    height: 24px;
    border-right: 1px solid #EAEAEA;
    margin: -4px 16px 0;
}

.authen-form__help-forgot {
    color: var(--primary-color);
}

/* Mobile menu and search */
.header-mobile {
    display: none;
}

.header-mobile-menu-icon {
    font-size: 2rem;
    color: var(--white-color);
}

.header-mobile-menu-list {
    padding: 0;
    margin: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    top: var(--header-height);
    z-index: 1;
    width: 70%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    background-color: var(--white-color);
    animation: mobileMenuFlyIn linear .2s;
    display: none;
}

#header-mobile-menu-checkbox:checked ~ .header-mobile-menu-list {
    display: block;
}

@keyframes mobileMenuFlyIn {
    from {
        opacity: 0;
        left: -200px;
    }
    to {
        opacity: 1;
        left: 0;
    }
}

.header-mobile-menu-item{
    border-bottom: 2px solid #f5f5f5;
}

.header-mobile-menu-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 20px 12px;
    -webkit-tap-highlight-color: transparent;
}

.header-mobile-menu-link--active {
    color: var(--primary-color);
}

.header-mobile-search {
    font-size: 2rem;
    color: var(--white-color);
}

/* Header with search */

.header-with-search {
    padding: 0 8px;
    display: flex;
    height: calc(var(--header-height) - var(--header-navbar-height));
    align-items: center;
}

.header__logo {
    width: 160px;
    padding-right: 36px;
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
    display: block;
}

.header__search {
    display: flex;
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    margin: 0 8px;
    align-items: center;
    z-index: 2;
}

.header__search-input-wrapper {
    height: 100%;
    flex: 1;
    position: relative;
}

.header__search-input {
    height: 40px;
    outline: none;
    border: none;
    width: 100%;
    font-size: 1.4rem;
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-select {
    position: relative;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 300;
    padding: 0 4px 0 16px;
    margin: 8px 0;  
    border-left: 1px solid #E8E8E8;
    cursor: pointer;
    line-height: 2.4rem;
    -webkit-tap-highlight-color: transparent;
}

.header__search-select-label{
    color: var(--text-color);
}

.header__search-select-icon {
    margin: 0 4px 0 16px;
    color: #666;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    outline: none;
    border-radius: 2px;
    height: 32px;
    width: 60px;
    margin-right: 4px;
}

.header__search-btn:hover {
    cursor: pointer;
    background-color: #f17e58;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-option {
    position: absolute;
    right: 0;
    top: calc(100% + 10px);
    width: 130px;
    list-style: none;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    background-color: var(--white-color);
    animation: fadeIn ease 0.1s;
    display: none;
    z-index: 1;
}

.header__search-option::after {
    content: "";
    display: block;
    height: 20px;
    position: absolute;
    width: 100%;
    right: 0;   
    top: -20px;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option-item {
    padding: 8px 0 8px 0;
    width: 100%;
    display: inline-block;
    text-align: right;
    color: var(--text-color);
}

.header__search-option-item:hover {
    background-color: rgba(255, 224, 217, 0.1);
}

.header__search-option-icon {
    font-size: 1rem;
    color: var(--primary-color);
    margin: 0 8px 0 8px;
}

/* Search history */

.header__search-history {
    z-index: 1;
    position: absolute;
    top: calc(100% + 1px);
    width: calc(100% - 16px);
    left: 0;
    border-radius: 2px;
    box-shadow: 0 2px 3px #a79c9c;
    background-color: var(--white-color);
    display: none;
}

.header__search-history-heading {
    margin: 8px 12px;
    font-size: 1.4rem;
    font-weight: 300;
    color: #dadada;
}

.header__search-history-list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.header__search-history-item {
    font-size: 1.4rem;
    height: 38px;
}

.header__search-history-link {
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--text-color);
    line-height: 38px;
    margin-left: 12px;
}

.header__search-history-item:hover {
    background-color: rgba(255, 157, 157, 0.1);
}

.header__search-input:focus ~ .header__search-history{
    display: block;
}

/* Header__cart  */

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrapper {
    position: relative;
    -webkit-tap-highlight-color: transparent;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;   
    padding: 12px; 
    cursor: pointer;
}

.header__cart-list::before {
    content: "";
    display: block;
    position: absolute;
    right: 10px;
    top: -20px;
    border-width: 10px 15px;
    border-style: solid;
    cursor: pointer;
    border-color: transparent transparent var(--white-color) transparent; 
}

.header__cart-wrapper:hover .header__cart-list {
    display: block; 
}

.header__cart-list {
    position: absolute;
    top: calc(100% - 2px);
    right: 48px;
    background-color: var(--white-color);
    width: 400px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: none;
    animation: fadeIn ease .2s; 
    border-radius: 2px;
    z-index: 1;
}

/* Empty cart case
    add class header__cart-list-no-cart to heade__cart-list
*/

.header__cart-list-no-cart-img {
    width: 60%;
    margin-top: 32px;
    display: none;
}

.header__cart-list-no-cart-info {
    font-size: 1.6rem;
    color: var(--text-color);
    margin: 20px 0;
    font-weight: 500;
    display: none;
}

.header__cart-list-no-cart .header__cart-list-no-cart-img,
.header__cart-list-no-cart .header__cart-list-no-cart-info {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header__cart-list-no-cart ~ .header__cart-notice,
.header__cart-list-no-cart .header__cart-heading,
.header__cart-list-no-cart .header__cart-product-list,
.header__cart-list-no-cart .header__cart-product-btn {
    display: none;
}


/* Cart with products */

.header__cart-notice {
    position: absolute;
    color: var(--primary-color);
    background-color: var(--white-color);
    border-radius: 12px;
    border: 1px solid #EE4D2D;
    width: 24px;
    height: 17px;
    font-size: 1.4rem;
    top: 2px;
    right: 50px;
    line-height: 1.7rem;
    font-weight: 500;
}

.header__cart-heading {
    text-align: left;
    margin-left: 12px;
    font-size: 1.5rem;
    color: rgb(145, 141, 141);
    font-weight: 300;
}

.header__cart-product-list {
    padding-left: 0;
    overflow-y: scroll;
    max-height: 56vh;
}

.header__cart-product-item {
    display: flex;
    align-items: center;
    padding-right: 12px; 
    cursor: default; 
}

.header__cart-product-item:hover {
    background-color: #f8f8f8;
}

.header__cart-product-img {
    width: 40px;
    margin: 0 12px;
    border: 1px solid var(--border-color);
}

.header__cart-product-info {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header__cart-product-desc-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__cart-product-name {
    font-size: 1.4rem;
    margin: 0;
    line-height: 1.6rem;
    max-height: 3.2rem;
    overflow: hidden;
    flex: 1;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-right: 10px;    
}

.header__cart-product-price {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 500;
}   

.header__cart-product-multiply {
    font-size: 0.9rem;
    color: #757575;
}

.header__cart-product-quantity {
    font-size: 1.3rem;
    color: #757575;   
}

.header__cart-product-desc-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__cart-product-desc {
    font-size: 1.3rem;
    color: #999;
}

.header__cart-product-remove {
    font-size: 1.4rem;
    color: #333;
}

.header__cart-product-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-product-btn {
    float: right;
    background-color: var(--primary-color);
    color: var(--white-color);
    margin: 0 30px 12px 0;
    height: 32px;
    width: 120px;
    font-size: 1.6rem;
    line-height: 32px;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
}

.header__cart-product-btn:hover {
    background-color: #F05D41;
}

 
.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    background-color: var(--white-color);
    display: none;
    margin: 0;
    padding-left: 0;
    height: var(--header-sort-bar-height);
} 

.header__sort-item {
    list-style: none;
    flex: 1;
    text-align: center; 
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
} 

.header__sort-item--active .header__sort-link{
    color: var(--primary-color);
}

.header__sort-item--active {
    border-bottom: 2px solid var(--primary-color);
}

.header__sort-item ~ .header__sort-item:before {
    content: "";
    display: block;
    border-left: 1px solid #e5e5e5;
    height: 60%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: var(--header-sort-bar-height);
}



/* Container */

.container {
    background-color: #F5F5F5;
    margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
}

.container .row {
    padding: 12px 0;
}

.container .category {
    border-radius: 2px;
    background-color: var(--white-color);
}

.category-heading {
    font-size: 1.6rem;
    padding: 16px 0 8px 12px;
    color: var(--text-color);
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.category-heading-icon {
    font-size: 1.5rem;
    margin-right: 8px; 
}

.category-list {
    list-style: none;
    padding-left: 12px;
    margin: 0;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
    margin-left: 12px;
}

.category-item--active .category-item__link::before {
    position: absolute;
    content: "";
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    top: 50%;
    left: -12px;
    transform: translateY(-50%);
}

.category-item__link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 12px 0;
    display: block;
    font-weight: 500;
    position: relative;
    right: 0;
    transition: right linear .1s;
}

.category-item__link:hover {
    color: var(--primary-color);
    right: -4px;
}


/* Home filter + sort */

.home-filter {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 1.4rem;
    color: var(--text-color);
    background-color: rgba(0, 0, 0, 0.03);
}

.home-filter-label {
    padding-left: 20px;
    padding-right: 14px;
}

.home-filter-select {
    display: flex;
    align-items: center;
}

.home-filter__button {
    border: none;
    background-color: var(--white-color);
    height: 36px;
    margin: 0 6px;
    min-width: 100px;
    color: var(--text-color);
    border-radius: 2px;
    cursor: pointer;
}

.home-filter__button--active {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.home-filter-select {
    background-color: var(--white-color);
    color: var(--text-color);
    position: relative;
    width: 190px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 2px;
}

.home-filter-select-label {
    margin-left: 12px;
}

.home-filter-select-icon {
    margin-right: 12px;
    font-size: 1.4rem;
    color: #555;
}

.home-filter-select-list {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    right: 0;
    background-color: var(--white-color);
    list-style: none;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    border-radius: 2px;
    display: none;
    z-index: 1;
}

.home-filter-select-list::before {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    top: -8px;
}

.home-filter-select:hover .home-filter-select-list {
    display: block;
}

.home-filter-select-item {
    padding: 12px 14px;
}

.home-filter-select-item:hover {
    color: var(--primary-color);
}

.home-filter-page {
    margin-left: auto;
    display: flex;
}

.home-filter-page-num {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.home-filter-page-current {
    color: var(--primary-color);
}

.home-filter-page-control {
    display: flex;
    width: 64px;
    height: 32px;
    border-radius: 2px;
    margin-right: 16px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.home-filter-page-btn {
    text-decoration: none;
    color: #333;
    background-color: var(--white-color);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-filter-page-btn--disabled {
    background-color: #f9f9f9;
    color: #e6e6e6;
    cursor: default;
}

.home-filter-page-btn:first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}

/* Mobile category */

.mobile-category {
    display: none;
}

.mobile-category-item {
    border-radius: 4px;
    margin-right: 12px;
}

.mobile-category-list {
    display: flex;
    list-style: none;
    overflow-x: auto;
    margin: 0;
    padding-left: 0;
}

.mobile-category-list::-webkit-scrollbar {
    display: none;
}

.mobile-category-item:nth-of-type(3n + 1) {
    background-color: #86afd7;
}

.mobile-category-item:nth-of-type(3n + 2) {
    background-color: #76c9bd;
}

.mobile-category-item:nth-of-type(3n + 3) {
    background-color: #88cf81;
}

.mobile-category-link {
    --line-height: 2.3rem;
    min-width: 80px;
    height: calc(var(--line-height) * 2);
    font-size: 1.4rem;
    display: block;
    text-decoration: none;
    color: var(--text-color);
    text-align: center;
    line-height: var(--line-height);
    padding: 0 6px;
    -webkit-tap-highlight-color: transparent;
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
/* Home product item */

.home-product-item {
    display: block;
    text-decoration: none;
    background-color: var(--white-color);
    position: relative;
    border-radius: 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    margin-bottom: 10px;
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);    
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 2px;
}

.home-product-item__name {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 500;
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 10px;   
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    text-decoration: line-through;
    color: var(--text-color);
    margin-left: 10px;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.home-product-item__like {
    font-size: 1.4rem;
    color: #ccc;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__like-icon-fill {
    color: var(--primary-color);
    display: none;
}

.home-product-item__rating {
    display: flex;
    margin-left: auto;
}

.home-product-item__rating-icon {   
    transform: scale(0.8);
    transform-origin: right;
    color: #ccc;
}

.home-product-item__rating-gold {
    color: #ffce3d;
}

.home-product-item__sold {
    margin-left: 10px;
    font-size: 1.2rem;
    color: var(--text-color);
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    font-size: 1.3rem;
    color: #595959;
    font-weight: 400;
    padding-bottom: 10px;
}   

.home-product-item__favorite {
    position: absolute;
    top: 5px;
    left: -4px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: var(--primary-color);
    background-color: currentColor;
}   

.home-product-item__favorite::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    border-left: 3px solid transparent;
    border-top: 3px solid currentColor;
    filter: brightness(0.7);
}

.home-product-item__favorite-icon {
    margin: 0 2px 0 5px;
    font-size: 0.8rem;
    color: var(--white-color);
}

.home-product-item__favorite span {
    padding-right: 5px;
    font-size: 1.2rem;
    color: var(--white-color);
}

.home-product-item__sale {
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 36px;
    background-color: rgba(255, 206, 61, 0.9);
    text-align: center;
    line-height: 1.8rem;
    border-radius: 2px;
}

.home-product-item__sale::before {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    border-width: 0 21px 6px;
    border-style: solid;
    border-color: transparent rgba(255, 206, 61, 0.9) transparent;
}

.home-product-item__sale-percent {
    font-size: 1.3rem;
    color: var(--primary-color);
    font-weight: 700;
}

.home-product-item__sale-label {
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 500;
}


/* Pagination */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 0;
}   

.pagination-item {
    list-style: none;
    margin: 0 10px;
    height: 30px;
    min-width: 40px;
}

.pagination-item__link {
    display: block;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    color: #9f9b99;
}

.pagination-item__link.pagination-item__link--active {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 2px;
}

.pagination-item__link.pagination-item__link--active:hover {
    background-color: #f58561;
}


.pagination-item__link.pagination-item__link--inactive:hover {
    cursor: default;
}

/* Footer */

.footer {
    background: #fbfbfb;
    border-top: 4px solid var(--primary-color);
}

.footer-heading {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.54);
    font-size: 1.3rem;
    margin: 30px 0 10px 0;
    cursor: text;
}

.footer-list {
    list-style: none;
    padding: 0;
}

.footer-item__link {
    text-decoration: none;
    color: #757575;
    display: block;
    padding: 6px 0;
    font-size: 1.2rem;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item-icon {
    font-size: 1.3rem;
    padding-right: 5px;
}

.footer-download {
    display: flex;
}

.footer-download-qr-img {
    height: 90px;
    width: 90px;
    border: 1px solid var(--border-color);
}

.footer-download-qr-link {
    object-fit: contain;
}

.footer-download-apps {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}

.footer-download-app-link {
    display: block;
    text-decoration: none;
    color: transparent;
}

.footer-copyrights {
    background-color: #f5f5f5;
    margin-top: 20px;
    font-size: 1.1rem;
    color: #757575;
    text-align: center;
}