/* Mobile and table */
@media (max-width: 1023px) {
    :root {
        --header-height: 70px;
        --header-navbar-height: 0;
        --header-sort-bar-height: 46px;
    }

    .hide-on-mobile-tablet {
        display: none;
    }

    .show-on-mobile-tablet {
        display: block;
    }

    .header {
        display: flex;
        align-items: center;
    }

    .header-mobile {
        display: flex;
    }

    .header-mobile-menu-icon {
        padding-right: 12px;
    }

    .header__cart {
        width: 60px;
        text-align: right;
    }

    .header__cart-notice {
        top: 22px;
        right: 0;
        text-align: center;
    }
    
    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        left: 0;    
        width: 100%;
        padding: 0 calc((100% - 644px) /2);
    }

    .header__cart-list::before {
        display: none;
    }

    .header__cart-wrapper {
        padding: 20px 0;
    }

    .header__sort-bar {
        display: flex;
    }

    .mobile-category {
        display: block;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    .show-on-mobile {
        display: block;
    }

    .header-with-search {
        justify-content: space-between;
    }

    .header__search {
        position: fixed;
        display: none;
        top: var(--header-height);
        left: 0;
        width: 100%;
        margin: 0;
        z-index: 1;
        height: 46px;
        animation: mobileSearchFlyIn linear .2s;
    }

    @keyframes mobileSearchFlyIn {
        from {
            opacity: 0;
            top: calc(var(--header-height) + 10px);
            z-index: -1;
        } 
        to {
            opacity: 1;
            top: var(--header-height);
            z-index: 1;
        }
    }

    #header-search-mobile-checkbox:checked ~ .header__search{
        display: flex;
    }

    .header__search-history {
        position: fixed;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        left: 0;
        width: 100%;
    }

    .header__search-btn {
        width: 46px;
    }

    .header__logo {
        padding-right: 0;
        line-height: 0;
    }

    .header-with-search {
        padding: 0 16px;
    }

    .pagination-item {
        margin: 0;
    }

    .footer-content {
        padding-left: 12px;
    }

    .footer-download-app-link {
        padding: 10px 20px;
    }
}